.review-section img {
  width: 65px;
  height: 65px;
  border-radius: 50px;
}
.review-section p {
  font-size: 21px;
  text-align: center;
}
.review-name {
  color: var(--primary);
}
.review-title {
  font-size: 30px;
}
