.form-container{
    background-image: url('../../images/hotel-5.jpg'), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 100vh;
}
.form-content{
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 20px;
    margin: 80px 0px 50px 0px;
    width: 400px;
    height: 500px;
}
.form-items{
    margin: 30px 0 0 0;
}
.form-items input{
    border: 0;
    outline: 0;
    border-bottom: 2px solid #01937C;
    width: 300px;
    padding-top: 10px;
}
.form-content a{
    text-decoration: none;
    color: #01937C;
}
.signIn-btn{
    border: none;
    width: 300px;
    background-color: #01937C;
    color: white;
}
.social-btn{
    border: none;
    background-color: white;
}
.social-btn img{
    width: 30px;
    height: 100%;
    object-fit: cover;
}