.brand-name {
  font-size: 20px;
}
.nav a {
  text-decoration: none;
  color: white;
  margin-left: 50px;
  font-size: 15px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.25em;
}
.logout-btn {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  font-size: 18px;
}
.login-link {
  color: white;
  font-size: 18px;
}
.user-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}
