footer{
    background-color: black;
    color: white;
}

.contact-details p{
    line-height: 12px;
}

.facebook-icon{
    font-size: 20px;
}
.social-icon{
    font-size: 20px;
    margin-left: 30px;
}

