.newsletter-container {
  height: auto;
}

.newsletter-container input {
  border: none;
  outline: none;
  padding: 2px 0px;
  background: none;
  width: 300px;
  border-bottom: 1px solid #000000;
  font-family: inherit;
  font-size: 17px;
  line-height: 39px;
  font-weight: inherit;
  color: #4d4d4d;
}
