.hero-section{
    background-image: url('../../../images/modern-bedroom-haynes-1565731330.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}


