.about-container{
    margin-top: 150px;
    margin-bottom: 150px;
}
.about-container p {
  text-align: justify;
  font-size: 18px;
}
.countup{
  font-size: 50px;
  font-weight: bolder;
}
.about-section-img {
  position: relative;
}
.bedroom-img {
  position: relative;
}
@media (min-width: 500px) {
  .modern-bedroom-img {
    position: absolute;
    left: -70px;
    bottom: -100px;
  }
  .modern-bedroom-img img {
    width: 50%;
    height: 100%;
    border: 2px solid var(--light);
  }
}
@media (max-width: 500px) {
  .modern-bedroom-img{
    margin-top: 30px;
  }
}
